@media screen and (min-width: 365px) {

    #div_events_header img {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    #div_events_header {
        height: 40vh;
    }

    #div_events_header img {
        display: block !important;
    }
}

.card-text {
    text-align: justify;
    text-justify: inter-word;
    color: #323232b3;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn__event_join_event {
    background: #E9C001;
    font-weight: 600;
    font-size: 11pt;
    font-weight: 400
}