@media screen and (min-width: 365px) {
  

    #div__register_header h2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #div__register_header {
        height: 40vh;
    }

    #div__register_header h2 {
        display: block;
    }
}