/* width */
#sp_micro_page_personal::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#sp_micro_page_personal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
#sp_micro_page_personal::-webkit-scrollbar-thumb {
    background: #05147B;
    border-radius: 5px;
}

/* Handle on hover */
#sp_micro_page_personal::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

