@font-face {
    font-family: 'SLD2019';
    src: url('../../lib/fonts/Smack-Laideth-Down-2019.otf');
}

.navigation>li>a {
    color: #373f50;
    text-decoration: none;
}

.header-toolbar>a {
    color: #373f50;
    margin-left: 10px;
}

.btn_hover_effect:hover {
    color: #fff;
}

.btn_hover_effect_dark:hover {
    color: #e0e0e0;
}

.btn_hover_effect {
    color: #b6b5b5;
}

.login_buttons_footer a {
    text-decoration: none;
    font-size: 12pt;
}

.btn_register_account {
    font-size: 10pt !important;
}

.btn_register_account:hover {
    cursor: pointer;
}

@media screen and (min-width: 365px) {
    #login_box {
        width: 80%;
    }

    #login_logo {
        width: auto;
        height: 220px;
    }
}

@media screen and (min-width: 768px) {
    #login_box {
        width: 30%;
    }

    #login_logo {
        width: auto;
        height: 330px;
    }

    #div_ra_box {
        width: 50%;
        margin: auto;
    }
}

.vip_gold {
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #373636;
    border-radius: 5px;
    font-weight: 700;
    font-size: 11pt;
    height: 30px;
    width: 100px;
    display: flex;

}

.vip_silver {

    background: linear-gradient(to right, #A2A2A2, #f5f3f3, #A2A2A2, #f5f3f3, #A2A2A2);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #373636;
    border-radius: 5px;
    font-weight: 700;
    font-size: 9pt;
    height: 30px;
    width: 100px;
    display: flex;
    font-family: oswald;
}

.vip_bronze {

    background: linear-gradient(to right, rgb(173, 103, 23), rgb(245, 228, 208), rgb(218, 152, 76), rgb(245, 228, 208), rgb(173, 103, 23));
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #373636;
    border-radius: 5px;
    font-weight: 700;
    font-size: 10pt;
    height: 30px;
    width: 100px;
    display: flex;
    font-family: oswald;
    align-content: center;
    align-items: center;
}

#div_ra_box h6 {
    font-family: oswald;
    font-size: 17pt;
}

#div_ra_box small {
    font-size: 9pt;
}

#div_pi_profilepic:hover {
    cursor: pointer
}